body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #292626;;
}

div#parent { /* declaration or "selector */
    border: 1px solid black;
    width: 780px;
    margin: 65px auto;
    background-color: #fff;
}

div#parent section {
    /*border: 1px solid #009fc3;*/
}

section.header {
    height: 102px;
}

section.sub-head {
    background-image: url('/files/histHomepic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
}

section.main-content-area { /* declaration for a section tag whose class is "main-content-area" */
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/files/uofu_medallion_rt.gif");
    background-repeat: no-repeat;
    background-position: bottom right;

    nav.secondary { /*applies to all nav tags found inside (descendants of) section.main-content-area */
        min-height: 20px;
        /*border: 1px dotted red;*/
        /*text-align: right;*/
        padding-right: 20px;
        font-size: 9px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 3px;

        a { /*this targets all links in each of our navs FIX THIS PART HERE */
            margin: 0 5px;
            color: black;
            text-decoration: none;
            text-transform: uppercase;

            &:hover { /* pseudo-class declaration */
                text-decoration: underline;
            }
        }

        &.bottom {
            font-size: 8px;

            a {
                text-transform: lowercase;
            }
        }

        img {
            height: 11px;
            margin-left: 5px;
        }
    }

    section.brown-box {
        background-color: #bec4a1;
        padding: 20px;
        border-radius: 10px;
        min-height: 490px;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 5px auto 70px;
        /* Above line reads 0 on top, "the same amount" on the left and right,
        and then finally 70px on the bottom */

        .left-side {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            nav {
                a {
                    color: black;
                    display: block;
                    text-decoration: none;
                    border-bottom: 2px solid #60663e;
                    padding: 12px 0 8px 12px;
                    text-transform: uppercase;
                    font-size: 10px;
                    width: 160px;

                    &:hover {
                        color: white;
                        background-color: black;
                    }
                }
            }

            .links {
                width: 90%;
            }
        }

        .right-side {
            width: 62%;
            background-color: white;
            padding: 10px;
            height: fit-content;

            img {
                width: 100%;
                margin-bottom: 10px;
            }

            p {
                font-size: 11px;
            }

            div.more {
                text-align: right;

                a {
                    color: #cc0000;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 10px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

section.footer {
    background-color: #60663e;
    text-align: center;
    color: white;
    font-size: 8px;
    padding: 8px;
}

h4 {
    color: #60663e;
    border-bottom: 2px dashed red;
    font-weight: unset;
    margin: 0;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 0 2px;
}